pip~=23.1.2
attrs~=23.1.0
pytz~=2023.3
idna~=3.4
multidict~=6.0.4
Babel~=2.9.1
aiogram~=3.0.0b7
pydantic~=1.10.9
aiofiles~=23.1.0
certifi~=2023.5.7
aiohttp~=3.8.4
yarl~=1.9.2
aiosignal~=1.3.1
frozenlist~=1.3.3
marshmallow~=3.19.0
python-dotenv~=1.0.0
urllib3~=2.0.3
setuptools~=65.5.0
packaging~=23.1
environs~=9.5.0
requests~=2.31.0